modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyCtyR68dG9TEI_C89PvsdrGmpkE6vCtV0s"
VITE_FIREBASE_AUTH_DOMAIN = "varanasi-scoot-darshan.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "varanasi-scoot-darshan"
VITE_FIREBASE_STORAGE_BUCKET = "varanasi-scoot-darshan.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "437910870938"
VITE_FIREBASE_APP_ID = "1:437910870938:web:cb7b3043bcc39216143823"
