modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[userenv]

[userenv.shared]
"API Key" = "AIzaSyCtyR68dG9TEI_C89PvsdrGmpkE6vCtV0s"
"Auth Domain" = "varanasi-scoot-darshan.firebaseapp.com"
"Project ID" = "varanasi-scoot-darshan"
"Storage Bucket" = "varanasi-scoot-darshan.firebasestorage.app"
"Messaging Sender ID" = "437910870938"
"App ID" = "1:437910870938:web:cb7b3043bcc39216143823"
measurementId = "G-8WEEXP0FNF"
